@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@import "tailwindcss";
@import "tw-animate-css";

:root {
  --bright-snow: #f9f9f9;

  --cool-sky: #5aa9e6;
  --cool-sky-light: #e8f4fc;
  --cool-sky-dark: #327ab3;

  --sky-blue: #7fc8f8;
  --sky-blue-light: #f0f8fe;
  --sky-blue-dark: #4fa0d8;

  --royal-gold: #ffe45e;
  --royal-gold-light: #fff8d6;
  --royal-gold-dark: #c9af26;

  --rose-kiss: #ff6392;
  --rose-kiss-light: #ffe6ee;
  --rose-kiss-dark: #c73863;

  --soft-green: #a8e6cf;
  --soft-green-dark: #71c6a6;

  --soft-red: #ffaaa5;
  --soft-red-dark: #d97570;
}

html {
  overflow-x: hidden;
}

body {
  min-height: 100svh;
  margin: 0;
  background: var(--bright-snow);
}
